NodeRED-config.json
[
    {
        "id": "3f28c634ba510fe6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "184d1e62f95008f0",
        "type": "mqtt in",
        "z": "3f28c634ba510fe6",
        "name": "",
        "topic": "alert-push",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "c636c53df857230f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "aabc9ce5d46e3f54"
            ]
        ]
    },
    {
        "id": "aabc9ce5d46e3f54",
        "type": "debug",
        "z": "3f28c634ba510fe6",
        "name": "pin-ver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "3a47a33468c9d521",
        "type": "mqtt out",
        "z": "3f28c634ba510fe6",
        "name": "",
        "topic": "alert-push",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c636c53df857230f",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "8dda61e78407467e",
        "type": "ui_text_input",
        "z": "3f28c634ba510fe6",
        "name": "",
        "label": "PIN:",
        "tooltip": "",
        "group": "098a3a19bc8b58c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "e85bfef1d933e6bc",
                "3a47a33468c9d521"
            ]
        ]
    },
    {
        "id": "e85bfef1d933e6bc",
        "type": "change",
        "z": "3f28c634ba510fe6",
        "name": "Clear PIN Field",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "reg": false,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "8dda61e78407467e"
            ]
        ]
    },
    {
        "id": "c636c53df857230f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "098a3a19bc8b58c1",
        "type": "ui_group",
        "name": "Insert PIN:",
        "tab": "1e9a24336cb28c8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e9a24336cb28c8c",
        "type": "ui_tab",
        "name": "Guardify",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]